*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: rgba(127, 127, 127, 20%);
    margin: 0px 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

header nav.nav-top{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 150px;
}

header div.logo{
    margin: 0;
}

header img{
    width: 150px;
    margin: 18px 0px 0px 60px;
}

header ul.redes-sociais{
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
}

header ul a{
    list-style: none;
}

header ion-icon{
    margin-top: 55px;
    margin-right: 25px;
    width: 40px;
    height: 40px;
    color: black;
}

header ion-icon:hover{
    margin-top: 50px;
}

/*-------------------------------------*/